@import "scss/theme";
.root {
    height: 100vh;
    font-family: "Montserrat";
}
.lightMode {
    background: linear-gradient(to top, #0d6ca0 0%, #7fb1cf 100%);
}
.darkMode {
    background: linear-gradient(to top, #111a1a 0%, #27304a 100%);
}
