@import "../../../scss/theme";

.root {
    @include sizes-mobile {
        height: 36px;
        width: 60px;
        font-size: 9px;
    }
    @include sizes-tablet {
        height: 36px;
        width: 102px;
    }

    @include sizes-desktop {
        height: 36px;
        width: 132px;
    }

    @include flex-row-center();
    @include children-margin-right(7px);
    @include text($isBold: true);
    border: unset;
    background-color: $lightGreenPrimary;
    color: $whitePrimary;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;

    &:hover,
    &:focus {
        opacity: $button-hover-opacity;
    }
}
