@import "scss/theme";

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // .searchInput {
    //     display: flex;
    //     justify-content: center;
    // }
}
