@import "scss/theme";

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include sizes-mobile {
        padding: 0px 20px;
    }
    @include sizes-tablet {
        padding: 0 60px;
    }

    @include sizes-desktop {
        padding: 0 80px;
    }
}
