@import "../../../scss/theme";

.root {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;

    .headerRightSide {
        .logo {
            height: 40px;
            width: 40px;
            margin-left: 15px;
        }
    }

    .headerLeftSide {
        display: flex;
        justify-content: space-between;
    }
    .buttonClicked {
        opacity: $button-hover-opacity;
    }
    .button {
        // @include sizes-mobile {
        //     margin: 0px 0px;
        // }

        // @include sizes-tablet {
        //     margin: 0px 30px;
        // }

        // @include sizes-desktop {
        //     margin: 0px 30px;
        // }
    }
    .menuRoot {
        border: 1px solid;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        @include sizes-mobile {
            transform: translate(-35%, 17%);
            width: 102px;
            height: 90px;
        }

        @include sizes-tablet {
            transform: translate(8%, 17%);
            width: 102px;
            height: 90px;
        }

        @include sizes-desktop {
            transform: translate(6%, 17%);
            width: 132px;
            height: 90px;
        }
    }
}
