@import "scss/theme";

.root {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $blackPrimary;
    align-items: center;

    .headerRightSide {
        align-items: center;
        display: flex;

        .logo {
            height: 40px;
            width: 40px;
            margin-left: 15px;
        }
    }

    .headerLeftSide {
        display: flex;
        justify-content: space-between;
    }
    .buttonClicked {
        opacity: $button-hover-opacity;
    }
}
.lightMode {
    background-color: $bluePrimary;
}
.darkMode {
    background-color: $blackPrimary;
    color: $whitePrimary;
}
