@import "scss/theme";

.root {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    margin-top: 15px;

    .dayForcast {
        display: flex;
        @include sizes-mobile {
            flex: 0 0 100%;
        }

        @include sizes-tablet {
            flex: 0 0 20%;
        }

        @include sizes-desktop {
            flex: 0 0 20%;
        }
    }
}
.dayForcastRoot {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    .dayForcast {
        border: 1px solid red;

        // padding: 30px;
        flex: 0 0 18%;
        flex-wrap: wrap;
    }
}
