$bluePrimary: #3c8dbf;
$blueSecondary: #569fc6;

$blackPrimary: #111a1a;
$blackSecondary: #27304a;

$darkGreyPrimary: #333a4d;
$darkGreySecondary: #092222;

$whitePrimary: #f8f9fb;
$whiteSecondary: #9b9ea9;

$greenPrimary: #234141;

$darkGreenPrimary: #1a2f2f;
$darkGreenSecondary: #253a3a;

$lightGreenPrimary: #299d74;
$lightGreenSecondary: rgba(41, 157, 116, 0.2);

$orangePrimary: #d88314;

$primaryRed: red;
